html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.wrapper {
  margin: 0 auto;
  max-width: 1110px;
}
.first_lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
}
.first_link {
  padding-left: 15px;
  padding-right: 16px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.first_link:hover,
.first_link:focus,
.first_link:active {
  color: #979292;
}
/* Start contact */

.contact {
  width: 100%;
  background-color: #fff;
}
.contact_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 17px;
}
.header_logo {
  display: flex;
  align-items: center;
  padding: 1px 5px;
}
.logo_image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.logo_title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #66c05d;
}
.header_phone {
  display: flex;
  align-items: center;
}
.phone_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 39px;
}
.phone_button {
  background: #fff;
  border: 2px solid #66c05d;
  border-radius: 40px;
  padding: 10px 26px;
}

.second_lists {
  display: flex;
  align-items: center;
  justify-content: center;
}
.second_item {
  margin-bottom: 30px;
}
.second_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 0px 20px 0 20px;
}

.second_link:hover,
.second_link:focus,
.second_link:active {
  color: #979292;
}
/* End contact */

/* Start banner */

.banner {
  background-image: url(https://github.com/Buroffsky/shop-chair/blob/main/image/background.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 193px;
  padding-bottom: 193px;
  margin-bottom: 68px;
}

.about_chair {
  height: 219px;
  width: 308px;
  margin-left: 2px;
}
.about_title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 38px;
}
.about_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 56px;
}
.about_links {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
  background: #66c05d;
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding: 10px 44px;
}
.about_links:hover,
.about_links:active,
.about_links:focus {
  color: #e6e2e2;
}

/* End banner */

/* Start product */
.product {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.product_name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.product_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 11px;
}
.product_logo {
  padding: 0 45px 0 0;
}
.product_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product_card {
  background-color: #fff;
  width: 255px;
  height: 363px;
}
.product_image {
  margin: 23px 66px 20px 65px;
}
.product_subscribe {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 13px;
  padding: 0px 30px 0 32px;
}
.product_price {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 25px;
}
.product_buy {
  background: #66c05d;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 9px 40px;
  text-decoration: none;
  margin: 0px 63px;
}

.product_buy:hover,
.product_buy:active,
.product_buy:focus {
  color: #e6e2e2;
}
/* End product */

/* Start two_cards */
.two_cards {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card_bonus,
.card_map {
  width: 540px;
  height: 212px;
  background: #66c05d;
  display: flex;
  flex-wrap: wrap;
  padding: 35px 45px 36px 40px;
}
.card_bonus_text {
  margin-right: 65px;
}
.card_bonus_title {
  width: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 21px;
}
.card_bonus_subscribe {
  width: 231px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 25px;
}
.card_bonus_email {
  background: #ffffff;
  border: none;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #c4c4c4;
  padding: 9px 54px 9px 0px;
}
.card_bonus_image {
  width: 140px;
  height: 140px;
}

.card_map {
  padding: 35px 250px 35px 40px;
}
.card_map_title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 20px;
}
.card_map_subscribe {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 22px;
}
.card_map_link {
  height: 35px;
  width: 170px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  background: #66c05d;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding-top: 9px;
}
/* End two_cards */
